.Navigation {
    background-color: navy;
    justify-content: space-evenly;
    align-items: center;
    width: 50rem;
    margin: 1rem 0;
    --bs-Navigation-link-color: #F3BC77(--bs-link-color);
    --bs-Navigation-link-hover-color: var(--bs-link-hover-color);
    --bs-Navigation-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
   }
    
button{
    background-color: rgb(255, 31, 31);
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

