#OpenTimesDiv {
    margin-top: 2%;
    color: wheat;
}

#OpenTimesh1 {
    text-align: center;
    color: wheat;
}

#OpenTimesDiv2 {
    margin-left: 30%;
}

#OpenTimesDiv3 {
    text-align: center;
}

#OpenTimesh2 {

}

#OpenTimesp {
    margin-left: 5%;
    margin-bottom: 2%;
}