#welcomeTitle {
    text-align: center;
    color: wheat;
    position:relative;
    top:-5px;
}


   /* #image1{
    background-image: url("./3Ux01N.jpg");
   } */

   Carousel.Item {
  

            font-family: helvetica neue,Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;

    }
