@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Courier Prime", monospace;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  color: #fff;
  border-right: 4px solid #fff;
  animation: cursor 1s infinite step-end, typing 20s infinite steps(20);
  white-space: nowrap;
  overflow: hidden;
}

.carousel {
  left: -9999px; /*important */
  right: -9999px; /*important */
  margin: 0 auto; /*important */
  max-width: 90%; /*important */
  min-width: 90%;

  position: absolute;
}
.carouseltitle {
  
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
  font-weight: bold;
  letter-spacing: -1px;
}
