#PlacesToGoh1 {
    text-align: center;
    color: wheat;
}

#PlacesToGoh2 {
    margin-left: 5%;
    color: wheat;
}

#PlacesToGoCard {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}